<!DOCTYPE html>
<html>
    <head>
        <title>Movie Project</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <h1>Hey from Project Index</h1>
        <h3>this is the main landing page</h3>
        <a href="/users/login">Login</a>
        <a href="/users/register">Register</a>
    </body>
</html>
