<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <title>Document</title>
    </head>
    <body>
        <h1>Add a movie</h1>
        <form class="form-horizontal" action="/movies/addmovie" method="POST">
            <fieldset>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="title"
                        >Movie Title:
                    </label>
                    <div class="col-md-4">
                        <input
                            id="title"
                            name="title"
                            type="text"
                            class="form-control input-md"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="rating"
                        >Rating:
                    </label>
                    <div class="col-md-4">
                        <input
                            id="rating"
                            name="rating"
                            type="text"
                            class="form-control input-md"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="synopsis"
                        >Synopsis</label
                    >
                    <div class="col-md-4">
                        <textarea
                            class="form-control"
                            id="synopsis"
                            name="synopsis"
                        ></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="releaseYear"
                        >Release Year:
                    </label>
                    <div class="col-md-4">
                        <input
                            id="releaseYear"
                            name="releaseYear"
                            type="text"
                            class="form-control input-md"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="genre"
                        >Genre:
                    </label>
                    <div class="col-md-4">
                        <input
                            id="genre"
                            name="genre"
                            type="text"
                            class="form-control input-md"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="director"
                        >Director:
                    </label>
                    <div class="col-md-4">
                        <input
                            id="director"
                            name="director"
                            type="text"
                            class="form-control input-md"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="boxOffice"
                        >Box Office:
                    </label>
                    <div class="col-md-4">
                        <input
                            id="boxOffice"
                            name="boxOffice"
                            type="text"
                            class="form-control input-md"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary">
                            Add Movie
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </body>
</html>
