<!DOCTYPE html>
<html>
  <head>
    <title>Movie API</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>MOVIE LANDING PAGE</h1>

    <% if(user) { %>
        <p>Welcome <strong><%= user.name %></strong> to the page</p>
    <% }  %>
    


    <a href="/movies/getallmovies">List of all movies</a></br>
    <a href="/movies/addmovie">Add a movie to the list</a></br>
    <a href="/movies/findmovie">Find a movie</a></br>
    <a href="/users/logout">Logout</a>
  </body>
</html>
